/* Alias/design tokens */

:root {
  --color-Navyblue_primary-100: #243a99;
  --color-Navyblue_primary-200: #203489;
  --color-Navyblue_primary-300: #1d2e7a;
  --color-Navyblue_primary-400: #1a296d;
  --color-Navyblue_primary-500: #172561;
  --color-Navyblue_primary-600: #142155;
  --color-Navyblue_primary-700: #121d4b;
  --color-Navyblue_primary-800: #101a42;
  --color-Navyblue_primary-900: #0e173a;
  --color-Calm-bodybackground-500: #fafbf9;
  --color-Calm-bodybackground-600: #cfd9c6;
  --color-Calm-bodybackground-700: #abbd9c;
  --color-Calm-bodybackground-800: #748f5f;
  --color-Calm-bodybackground-900: #60774f;
  --color-Oceanblue_sencondary-100: #ebf2fe;
  --color-Oceanblue_sencondary-200: #a9c7f9;
  --color-Oceanblue_sencondary-300: #70a2f5;
  --color-Oceanblue_sencondary-400: #4082f1;
  --color-Oceanblue_sencondary-500: #1767ee;
  --color-Oceanblue_sencondary-600: #0f54ca;
  --color-ceanblue_sencondary-700: #0c46a8;
  --color-Oceanblue_sencondary-800: #0a3a8b;
  --color-Oceanblue_sencondary-900: #083073;
  --color-Concrete_ekstra-100: #ffffff;
  --color-Concrete_ekstra-200: #f9f9f9;
  --color-Concrete_ekstra-300: #e9e9e9;
  --color-Concrete_ekstra-400: #dadada;
  --color-Concrete_ekstra-500: #cccccc;
  --color-Concrete_ekstra-600: #bebebe;
  --color-Concrete_ekstra-700: #b1b1b1;
  --color-Concrete_ekstra-800: #a5a5a5;
  --color-Concrete_ekstra-900: #999999;
  --color-Salmon_ekstra-300: #fee7e6;
  --color-Salmon_ekstra-400: #fdcac7;
  --color-Salmon_ekstra-500: #fcafaa;
  --color-Salmon_ekstra-600: #fb948d;
  --color-Salmon_ekstra-700: #fa7b72;
  --color-Salmon_ekstra-800: #f96459;
  --color-Salmon_ekstra-900: #f84f42;
  --color-blackish-100: #3b3b3b;
  --color-blackish-200: #323232;
  --color-blackish-300: #2b2b2b;
  --color-blackish-400: #252525;
  --color-blackish-500: #202020;
  --radius-small: 10px;
  --shadow-card-shadow: 5px 5px 28px 0px rgba(32, 32, 32, 0.75);
  --shadow-blue-box: 0px 1px 12px 0px rgba(32, 32, 32, 0.75);
  --font-family-H1: Alfarn 2;
  --font-family-H2: Alfarn 2;
  --font-family-H3: Merriweather Sans;
  --font-family-bodytext: Merriweather Sans;
  --font-size-H3-cardtitel: 30.21px;
  --font-size-bodytekst-LG: 22.66px;
  --font-size-bodytekst-MD: 17px;
  --line-height-headings: 1.2;
  --line-height-bodytext: 1.7;
}
