---
import Card from "../components/Card.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Oversigt over components</h1>

    
    <Card
      deluxe={true}
      titel="Diamonds By Frisenholm. Brillantring af 9 kt. guld
"
      beskrivelse="Diamonds By Frisenholm. Brillantring af 9 kt. guld prydet med brillanter, ialt ca. 0.07 ct. Farve: Top Crystal (I). Klarhed SI. Ringstr. 56 Ø 17,8 mm. Vægt ca. 1,2 g."
      
    />
    <Card
      deluxe={false}
      titel="Diamonds By Frisenholm. Brillantring af 9 kt. guld
"



      beskrivelse="Diamonds By Frisenholm. Brillantring af 9 kt. guld prydet med brillanter, ialt ca. 0.07 ct. Farve: Top Crystal (I). Klarhed SI. Ringstr. 56 Ø 17,8 mm. Vægt ca. 1,2 g."
      
    />

    <!-- <Button /> -->

	</body>
</html>
